.Refresh {
    background-image:none;
    background-color:#cccccc;
    border-color:transparent;
    border-radius:10px;
    border-width:0;
}

.Refresh:hover {
    background-image: -gtk-gradient (linear,
                                     0 0, 0 1,
                                     from(#ffffff), to(#cccccc));
}
