.Reboot {
    background-image:none;
    background-color:#00a400;
    border-color:transparent;
    border-radius:10px;
    border-width:0;
}

.Reboot:hover {
    background-image: -gtk-gradient (linear,
                                     0 0, 0 1,
                                     from(#4cbf4c), to(#00a400));
}
