.Shutdown {
    background-image:none;
    background-color:#ff0000;
    border-color:transparent;
    border-radius:10px;
    border-width:0;
}

.Shutdown:hover {
    background-image: -gtk-gradient (linear,
                                     0 0, 0 1,
                                     from(#ff4c4c), to(#ff0000));
}
