.Signin {
    font:  Arial 10;
    border-radius:10px;
    border-width:0;
    color: white;
    border-image: none;
    background-image: none;
    background-color: #FFA500;
}

.Signin:hover {
    font:  Arial 10;
    color: white;
    background-image: -gtk-gradient (linear,
                                     0 0, 0 1,
                                     from(#FFC966), to(#FFA500));
}
