.LoginButton
{
    font             : 14px Arial;
    color            : white;
    background-image : linear-gradient(to top, #ffa500, #e59400);
    border-color     : transparent;
    border-radius    : 15px;
    border-width     : 1px;
    box-shadow       : none;
}

.LoginButton:focus
{
    outline-style : none;
    border-color  : #4a90d9;
}

.LoginButton:hover
{
    background-image    : linear-gradient(to top, #ffb732, #ffa500);
}
