.Username {
    font-family:   'Arial';
    font-size:     10px;
    border-color:  transparent;
    border-radius: 5px;
    border-width:  0;
}

.Password {
    font-family:   'Arial';
    font-size:     10px;
    border-color:  transparent;
    border-radius: 5px;
    border-width:  0;
}
