.Date {
    font:Droid Sans 27;
    color:white;
    background-color:transparent;
}

.Time {
    font:Droid Sans 47;
    color:white;
    background-color:transparent;
}

.Window {
    background-color:transparent;
}
