.Title {
    font-family:      'Arial';
    font-size:        15px;
    color:            #ffa500;
    background-color: transparent;
}

.Username {
    font-family:   'Arial';
    font-size:     10px;
    border-color:  transparent;
    border-radius: 5px;
    border-width:  0;
}

.Password {
    font-family:   'Arial';
    font-size:     10px;
    border-color:  transparent;
    border-radius: 5px;
    border-width:  0;
}

.Login {
    font-family:      'Arial';
    font-size:        10px;
    color:            white;
    border-radius:    10px;
    border-width:     0;
    border-image:     none;
    background-image: none;
    background-color: #ffa500;
}
.Login:hover {
    font-family:      'Arial';
    font-size:        10px;
    color:            white;
    background-image: -gtk-gradient (linear,
                                     0 0, 0 1,
                                     from(#ffc966), to(#ffa500));
}

.WindowManager {
    color:            #ffa500;
    background-color: #e5e5e5;
    background-image: none;
    border-color:     transparent;
    border-radius:    10px;
    border-width:     0;
}
.WindowManager:hover {
    background-image: -gtk-gradient (linear,
                                     0 0, 0 1,
                                     from(#ffffff), to(#e5e5e5));
}

.Window {
    background-color: transparent;
}
