.System
{
    /* background-color: rgba(255,255,255,0.75); */
    background-color: transparent;
    border-radius:    4px;
    padding:          2px;
}
.System:hover
{
    background-color: rgba(255,255,255,0.75);
    padding:          10px;
}

.Shutdown {
    background-image: none;
    background-color: #e28693;
    border-color:     transparent;
    border-width:     0;
}
.Shutdown:hover {
    background-image: -gtk-gradient(linear,
                                    0 0, 0 1,
                                    from(#e79aa5), to(#e28693));
}
