@define-color fg_color  #ffa500;
@define-color bg_color  #e5e5e5;
@define-color brd_color #4a90d9;
@define-color grd_color #e59400;

.LoginButton
{
    font             : 14px Arial;
    color            : white;
    background-image : none;
    background-color : @fg_color;
    border-color     : transparent;
    border-radius    : 16px;
    border-width     : 1px;
    box-shadow       : none;
    outline-style    : none;
}

.LoginButton:hover
{
    background-color : shade(@fg_color, 1.15);
}

.LoginButton:focus
{
    border-color : @brd_color;
}

.LoginButton:active
{
    background-color : shade(@fg_color, 0.9);
    border-color     : transparent;
}
