@define-color bg_color         #ffa500;
@define-color grd_color        #ffb732;
@define-color grd_hover_color  #ffc966;
@define-color grd_active_color #e59400;

.PowerButton
{
    background-color : transparent;
    border-radius    : 16px;
    outline-style    : none;
}

.ShutdownButton
{
    background-image : linear-gradient(to top, @bg_color, @grd_color);
}

.ShutdownButton:hover
{
    background-image : linear-gradient(to top, @bg_color, @grd_hover_color);
}

.ShutdownButton:active
{
    background-image : linear-gradient(to top, @bg_color, @grd_active_color);
}
