@define-color fg_color  #ffa500;
@define-color bg_color  #e5e5e5;
@define-color brd_color #4a90d9;

.XSession
{
    color            : @fg_color;
    background-color : @bg_color;
    border-color     : transparent;
    border-radius    : 16px;
    border-width     : 1px;
    box-shadow       : none;
    outline-style    : none;
}

.XSession:hover
{
    background-color : shade(@bg_color, 1.0);
}

.XSession:focus
{
    border-color : @brd_color;
}

.XSession:active
{
    background-color : shade(@bg_color, 0.95);
    border-color     : transparent;
}
